<div class="container text-center">
  <h1>Welcome to Splashy Canvas!</h1>
  <p class="lead">The ultimate painting game for kids.</p>
  <img
    ngSrc="assets/splashy-logo.webp"
    class="mb-4"
    alt="Splashy canvas Image"
    width="300"
    height="300"
    priority
  />
  <div class="d-flex gap-3 justify-content-center">
    <a routerLink="/play" class="btn btn-primary btn-lg">Play Now</a>
    <a routerLink="/instructions" class="btn btn-secondary btn-lg ml-2"
      >Instructions</a
    >
  </div>
</div>
