<div class="container my-4">
	<h2 class="text-center">How to Play Splashy Canvas</h2>
	<div class="card">
		<div class="card-body">
			<p>Welcome to Splashy Canvas!</p>
			<p>
				In this game, you'll be presented with an image divided into sections. Your task is to paint each
				section of the image.
			</p>
			<ol>
				<li>Select a color from the color picker located at the top of the screen.</li>
				<li>Touch a section of the image to paint it with the selected color.</li>
				<li>Continue selecting colors and painting sections until the entire image is colored.</li>
				<li>Have fun and be creative with your color choices!</li>
			</ol>
			<p>Enjoy the game and let your creativity flow!</p>
			<div class="d-flex justify-content-center">
				<a class="btn btn-primary" routerLink="/play">Start Playing</a>
			</div>
		</div>
	</div>
</div>
