<button
	class="btn btn-primary"
	type="button"
	data-bs-toggle="offcanvas"
	data-bs-target="#offcanvasTop"
	aria-controls="offcanvasTop">
	<i class="bi bi-palette"></i>
</button>

<div
	class="offcanvas offcanvas-top custom-offcanvas"
	tabindex="-1"
	id="offcanvasTop"
	aria-labelledby="offcanvasTopLabel">
	<div class="offcanvas-header">
		<h5 class="offcanvas-title" id="offcanvasTopLabel">Pick a color</h5>
		<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>
	<div class="offcanvas-body">
		<div class="container gx-0">
			<div class="row g-3">
				@for(color of colorList; track color) {
				<div class="col flex-grow-0">
					<button
						type="button"
						class="btn"
						data-bs-dismiss="offcanvas"
						[ngStyle]="{ 'background-color': color }"
						[ngClass]="{ 'selected-color': color === selectedColor() }"
						(click)="selectColor(color)"
						style="border-radius: 50%; width: 40px; height: 40px"></button>
				</div>
				}
			</div>
		</div>
	</div>
</div>
