<div class="container py-2">
	<div class="row gx-0">
		@switch (gameState()) { @case (GameState.SettingUp) {
		<app-image-picker
			class="col-12 col-md-4"
			[images]="images"
			(imageSelected)="imageSelected($event)"></app-image-picker>
		} @case (GameState.Ready) {
		<div class="container gx-0">
			<div class="row align-items-center">
				<app-color-picker #colorPicker></app-color-picker>

				<app-paintable-image
				class="col-lg-6 offset-lg-3"
					[svgContent]="svgContent()"
					[currentColor]="colorPicker.selectedColor()"></app-paintable-image>
			</div>
		</div>

		} }
	</div>
</div>
