$primary: #d63384; // Deep Pink
$secondary: #b39ddb; // Lilac
$success: #53a548; // Soft Green
$info: #6cace4; // Softer Blue
$warning: #ffa500; // Muted Orange
$danger: #e57373; // Warmer Red
$light: #f8f8f8; // Light Grey/Off-White for backgrounds
$dark: #333333; // Dark Grey for text

$font-family-base: 'Baloo', sans-serif, cursive;

$carousel-control-color: $primary;

@import 'bootstrap/scss/bootstrap';

html,
body {
	height: 100%;
}

.content::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to bottom, rgba(255,255,255,0.7), rgba(var(--bs-light-rgb), var(--bs-bg-opacity))),
		url('./assets/background.webp');
	background-size: contain, contain;
	background-repeat: repeat, repeat;
	z-index: -1;
}

.content {
	position: relative;
}
